.Arte {
    background-color: #e7435a;
}
.Ciencia {
    background-color: #3ca372;
}
.Deportes {
    background-color: #ffa500;
}
.Entretenimiento {
    background-color: #cf50ff;
}
.Geografia {
    background-color: #4da6ff;
}
.Historia {
    background-color: #ffda00;
}