<footer class="d-flex">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <p class="m-0 text-center">
            Santiago W / Lorena J </p>
        <p class="m-0 text-center ">Programación Web II - Universidad Nacional de La Matanza - Copyright 2024
            &copy;</p>
    </div>
</footer>
</body>
</html>