<div class="container my-4">
    <h2>Resultado de la Partida</h2>
    <p>Respuestas Correctas del Jugador: {{resultado.respuestasJugador}}</p>
    <p>Respuestas Correctas del Bot: {{resultado.respuestasBot}}</p>
    <h3>Ganador: {{resultado.ganador}}</h3>
    <a class="btn btn-primary" href="/">Volver al inicio</a>
</div>
